$color-primary: (
    dark-cyan: hsl(185, 75%, 39%),
    Very-dark-desaturated-blue: hsl(229, 23%, 23%),
    Dark-grayish-blue: hsl(227, 10%, 46%)
);
$color-neutral: hsl(0, 0%, 59%);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: map-get($color-primary, dark-cyan);
    background-image: url(images/bg-pattern-top.svg), url(images/bg-pattern-bottom.svg);
    background-position: bottom 200px right 700px, top 300px left 600px ;
    background-repeat: no-repeat, no-repeat;
    background-size: 70%, 70%;
    text-transform: capitalize;
}

.card {
    background-color: #FFF;
    border-radius: 1rem;
    overflow: hidden;
    width: 350px;
    position: relative;
    &__profile-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid #FFF;
        overflow: hidden;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 90px;
    }
    &__about {
        margin-top: 70px;
        margin-bottom: 30px;
        & h1 {
            font-size: 18px;
            margin-bottom: 10px;
            & span {
                color: $color-neutral;
                font-weight: 400;
            }
        }
        & p{
            color: $color-neutral;
        }
    }
    & table {
        width: 100%;
        table-layout: fixed;
        padding: 1.5rem;
        border-top: 1px solid $color-neutral;
        & td {
            font-size: 11px;
            color: $color-neutral;
            letter-spacing: 1px;
        }
    }
}